
/*------------Fonts-----------*/
header, nav {
    font-family: 'Permanent Marker', cursive;
}

body {
    background-color: #4a4a4f;
}
/*------------Header-----------*/

header {
    background-color: #000000;
    height: 140px;
    position: relative;
    z-index:1000;
}


.logo p {
    height: 120px; 
    text-align: center;
    color: #ffffff;
    position: relative;
    z-index:1000;
}

/*------------Nav-----------*/
nav {
    background-color: #000000;
    height: 70px;
}

.button-menu {
    background-color: red;
    height: 70px;
}

.side-left {
    float: left;
    width: 0%;
    background-color: blue;
    height: 70px;
    display: none;
    
}
.menu-list {
    float: left;
    width: 100%;
    height: 70px;
    display: none;
}

.side-right {
    float: left;
    width: 0%;
    background-color: yellow;
    height: 70px;
    display: none;
    
}

.menuitem{
    height: 70px;
    text-align: center;
    padding: 0;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 2px;



}

.menuitem a{
    width: 100%;
    text-decoration: none;
    color: #ffffff;
    height: 70px;
    padding-top:20px;
}



/*-----hover------*/

a.hvr-sweep-to-bottom::before {
    background-color: rgba(0, 0, 0, 0.5);
    height: 70px;
}


/*-------------------------------------dropdown---------------------------------*/

.lock {
display: none;
}

.hvr-sweep-to-bottom {
	position: absolute;
	z-index: 3;

}


.navDefault {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #4a4a4f;

	
}


button {
    border: none;
    background-color: #0997d3;
    width: 150px;
    height: 50px;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;

	
    

}


.dropdownMenu{
   list-style: none;
   margin: 0; 
   left: 0;
   right: 0;
   top: 50;
   position: relative;
   z-index:-1;
   text-align: center;
   padding: 0;
   /*box-shadow: -2px 13px 61px -1px rgba(0,0,0,0.75);*/
   transform: translateY(-100%);
   transition: transform 1s ease-in-out;
}   

section {
	
   position: relative;
   z-index:-100;

}   



.dropdownLink {
    text-decoration: none;
    display: block;
    background-color: red;
    padding-left: 2px;
    padding-right: 2px;
    padding-bottom: 4px;
    color: #4a4a4f;
    transition: background-color .5s ease-in-out, color .5s ease-in-out;

}
.dropdownLink:hover {
    color: #fff;
    background-color: rgba(0, 0, 0, 0.7);

}


.menuitem:hover .dropdown 
{
    background-color: brown;
}

.menuitem:hover .dropdownMenu {
    transform: translateY(0%);  
    z-index: 1;
}




 
/*------------section-----------*/




/*------------footer-----------*/

/*------------media queries-----------*/

@media (max-width: 576px) {

    .logo {
      background-color: green;
      padding-top: 0px;
      font-size: 30px;
      padding-top: 20px;
    }
}

@media (min-width: 576px) {

  .logo {
    background-color: red;
    font-size: 42px;
    padding-top: 20px;
   }
}
     

@media (min-width: 768px) {
    .logo {
    background-color: orange;
    font-size: 50px;
    padding-top: 20px;
    }

    .side-left {
        width: 0%;
        display: initial;
    }
    .side-right {
        width: 0%;
        display: initial;
    }
    
    .menu-list {
        float: left;
        width: 100%;
        height: 70px;
        display: initial;
    }
    .badboy
    {
      display: none;
    }    

}


@media(min-width: 992px) {
    .logo {
        background-color: green;
        font-size: 56px;
        padding-top: 20px;
    }

.side-left {
    width: 10%;
    display: initial;
}
.side-right {
    width: 10%;
    display: initial;
}

.menu-list {
    float: left;
    width: 80%;
    height: 70px;
    display: initial;
}
.badboy
    {
      display: none;
    }
}





@media(min-width: 1292px) {
    .logo {
        background-color: bisque;
        font-size: 56px;
        padding-top: 20px;
    }
    .side-left {
        width: 18%;
        display: initial;
    }
    .side-right {
        width: 18%;
        display: initial;
    }

    .menu-list {
        float: left;
        width: 64%;
        height: 70px;
        display: initial;
    }
    .badboy
    {
      display: none;
    }
}    

@media(min-width: 1500px) {
    .logo {
        background-color: bisque;
        font-size: 56px;
        padding-top: 20px;
    }
    .side-left {
        width: 20%;
        display: initial;
    }
    .side-right {
        width: 20%;
        display: initial;
    }

    .menu-list {
        float: left;
        width: 60%;
        height: 70px;
        display: initial;
    }

    .badboy
    {
      display: none;
    }


    
}


@media(min-width: 1900px) {
    .logo {
        background-color: bisque;
        font-size: 56px;
        padding-top: 20px;
    }
    .side-left {
        width: 25%;
    }
    .side-right {
        width: 25%;
    }

    .menu-list {
        float: left;
        width: 50%;
        height: 70px;
        display: initial;
    }

    .badboy
   {
    display: none;
   }


    
}    


/*------------media queries-----------*/


