
/*------------Fonts-------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
header, nav {
    font-family: 'Permanent Marker', cursive;
}



/*------------Colors Top Logo---------------------------------------------------------------------------------------------------------------------------------------------------------------*/

body {
    background-color: #4a4a4f;
}


.logo p {
    color: #ffffff;
}

header {
    background-color: #000000;
}

/*------------Colors Navbar------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

nav {
    background-color: #000000;
}

.menuitem {
    background-color: red;
}

.side-left {
    background-color: olivedrab;
}

.side-right {
    background-color: yellow;
}

.menuitem a{
    color: #ffffff;
}

/*---------section-colors--------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

#left  {
    background-color: blue;
}
#content {
    background-color: chartreuse;
}

#right {
    background-color: orangered;
}

#box1 {
    background-color: #0997d3;
}
#box2 {
    background-color: #262f33;
}
#box3 {
    background-color: #2f5b6e8a;
}
#box4 {
    background-color: #c9ae17;
}

/*---------footer-colors-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

#left-foot  {
    background-color: rgba(19, 142, 190, 0.486);
}

#content-foot {
    float: left;
    background-color: chartreuse;
}

#right-foot {
    background-color: #21082c4b;
}

#box1-foot {
    background-color: olivedrab;
}

#box2-foot {
    background-color: yellow;
}

#left-masthead {
    background-color: #000000;
}

/*---------masthead-colors---------------------------------------------------------------------------=============================================================================================-------*/

#right-masthead {
    background-color: red;
}

#masthead {
    background-color: chartreuse;
}


/*------------Header--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

header {
    height: 140px;
    position: relative;
    z-index:1000;
}

.logo p {
    height: 120px; 
    text-align: center;
    position: relative;
    z-index:1000;
}

/*------------Nav-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
nav {
    height: 70px;
}

.menuitem {
    height: 70px;
}

.side-left {
    float: left;
    width: 0%;
    height: 70px;
    display: none;
    
}
.menu-list {
    float: left;
    width: 100%;
    height: 70px;
    display: none;
}

.side-right {
    float: left;
    width: 0%;
    height: 70px;
    display: none;
    
}

.menuitem {
    height: 70px;
    text-align: center;
    padding: 0;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 2px;
    float: left;
}

.resize-a {
    width: 20%;
}

.resize-b {
    width: 100%
}


.menuitem a{
    width: 100%;
    text-decoration: none;
    height: 70px;
    padding-top:20px;
}





/*------------section------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
  

.left  {
    float: left;
    width: 0%;
    height: 480px;
    display: none;
    
}
.content {
    float: left;
    width: 100%;
    height: 480px;
}

.right {
    float: left;
    width: 0%;
    height: 480px;
    display: none;
    
}

.box1 {
    height: 50%;
    display: none;
}
.box2 {
    height: 50%;
    display: none;
}
.box3 {
    height: 50%;
    display: none;
}
.box4 {
    height: 50%;
    display: none;
}


/*------------footer------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

.left-foot  {
    float: left;
    width: 0%;
    height: 300px;
    display: none;
    
}

.content-foot {
    float: left;
    background-color: chartreuse;
}

.right-foot {
    float: left;
    width: 0%;
    height: 300px;
    display: none;
    
}

.box1-foot {
    height: 300px;
    float: left;
}
.box2-foot {
    height: 300px;
    float: left;
}

.left-masthead {
    height: 100px;
    float: left;
}

.right-masthead {
    height: 100px;
    float: left;
}

.masthead {
    width: 100%;
    float: left;
    height: 100px;
}

/*-----------------------------------------------------------------------------------------HOOVER AND DROPDOWN-------------------------------------------------------------------------------------------*/

/*-----botton-hover------*/

a.hvr-sweep-to-bottom::before {
    background-color: rgba(0, 0, 0, 0.5);
    height: 70px;
}


/*-----------------------------------------------------------------------------------------------DROPDOWN-----------------------------------------------------------------------------------------------*/

.lock {
    display: none;
}

.hvr-sweep-to-bottom {
	position: absolute;
	z-index: 3;
}

.navDefault {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #4a4a4f;
}

button {
    border: none;
    background-color: #0997d3;
    width: 150px;
    height: 50px;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
}

.dropdownMenu{
   list-style: none;
   margin: 0; 
   left: 0;
   right: 0;
   top: 50;
   position: relative;
   z-index:-1;
   text-align: center;
   padding: 0;
   /*box-shadow: -2px 13px 61px -1px rgba(0,0,0,0.75);-------------------------------------------------------Shadow do wykorzystania-----------------------------------------------------*/
   transform: translateY(-100%);
   transition: transform 1s ease-in-out;
}   

section {
	
   position: relative;
   z-index:-100;

} 

.dropdownLink {
    text-decoration: none;
    display: block;
    background-color: red;
    padding-left: 2px;
    padding-right: 2px;
    padding-bottom: 4px;
    color: #4a4a4f;
    transition: background-color .5s ease-in-out, color .5s ease-in-out;
}

.dropdownLink:hover {
    color: #fff;
    background-color: rgba(0, 0, 0, 0.7);

}

.menuitem:hover .dropdown 
{
    background-color: brown;
}

.menuitem:hover .dropdownMenu {
    transform: translateY(0%);  
    z-index: 1;
}

/*-----------------------------------------------------------------------------------------HOOVER AND DROPDOWN------------------------------------------------------------------------------------------*/


/*-----------------------------------------------------------------------------------------MEDIA QUERIES -----------------------------------------------------------------------------------------------*/

@media (max-width: 576px) {

.logo {
    background-color: green;
    padding-top: 0px;
    font-size: 30px;
    padding-top: 20px;
}

.content {
    width: 100%;
    height: 240px;
}

.content-foot {
    width: 100%;
}

.box1 {
    display: initial;
    height: 100%;
}

.box2 {
    display: none;
}

.box3 {
    display: none;
}

.box4 {
    display: none;
}

}

@media (min-width: 576px) {

.logo {
    background-color: red;
    font-size: 42px;
    padding-top: 20px;
}

.content {
    width: 100%;
}

.content-foot {
    width: 100%;
}

.box1 {
    display: initial;
}

.box2 {
    display: none;
}

.box3 {
    display: none;
}

.box4 {
    display: initial;
}

}
     

@media (min-width: 768px) {
.logo {
    background-color: orange;
    font-size: 50px;
    padding-top: 20px;
}
.masthead {
    width: 100%;
}

.side-right, .side-left, .left, .right, .right-foot, .left-foot {
    width: 0%;
    display: initial;
}
    
.menu-list{
    float: left;
    width: 100%;
    display: initial;
}
.content {
    width: 100%;
}

.content-foot {
    width: 100%;
}

.badboy {
    display: none;
}    

.box1 {
    display: initial;
}

.box2 {
    display: initial;
}

.box3 {
    display: initial;
}

.box4 {
    display: initial;
}  

}


@media(min-width: 992px) {
.logo {
    background-color: green;
    font-size: 56px;
    padding-top: 20px;
}
.masthead {
     width: 100%;
}

.side-right, .side-left, .left, .right, .right-foot, .left-foot {
    width: 0%;
    display: initial;
}

.menu-list{
    float: left;
    width: 100%;
    display: initial;
}
.content {
    width: 100%;
}

.content-foot {
    width: 100%;
}

.badboy {
    display: none;
}

.box1 {
    display: initial;
}

.box2 {
    display: initial;
}

.box3 {
    display: initial;
}
.box4 {
    display: initial;
}

}




@media(min-width: 1292px) {
.logo {
    background-color: bisque;
    font-size: 56px;
    padding-top: 20px;
}

.masthead {
    width: 100%;
}

.side-right, .side-left, .left, .right, .right-foot, .left-foot {
    width: 10%;
     display: initial;
}

.menu-list{
    float: left;
    width: 80%;
    display: initial;
}
.content {
    width: 80%;
}

.content-foot {
    width: 80%;
}

.badboy {
    display: none;
}

.box1 {
    display: initial;
}

.box2 {
     display: initial;
}

.box3 {
    display: initial;
}
.box4 {
    display: initial;
}

}   



@media(min-width: 1500px) {
.logo {
    background-color: bisque;
    font-size: 56px;
    padding-top: 20px;
}

.masthead {
    width: 100%;
}

.side-right, .side-left, .left, .right, .right-foot, .left-foot {
    width: 15%;
    display: initial;
}

.menu-list {
    float: left;
    width: 70%;
    display: initial;
}

.content {
    width: 70%;
}

.content-foot {
    width: 70%;
}

.badboy {
    display: none;
}

.box1 {
    display: initial;
}

.box2 {
    display: initial;
}

.box3 {
    display: initial;
}

.box4 {
    display: initial;
}
    
}


@media(min-width: 1900px) {
.logo {
    background-color: bisque;
    font-size: 56px;
    padding-top: 20px;
}

.side-right, .side-left, .left, .right, .right-foot, .left-foot {
    width: 17%;
}

.menu-list{
    float: left;
    width: 66%;
    display: initial;
}

.content {
    width: 66%;
}

.content-foot {
    width: 66%;
}

.badboy {
    display: none;
}

.box1 {
    display: initial;
}
.box2 {
    display: initial;
}
.box3 {
    display: initial;
}
.box4 {
    display: initial;
}
    
}

@media(min-width: 2200px) {
.logo {
    background-color: bisque;
    font-size: 56px;
    padding-top: 20px;
}

.side-right, .side-left, .left, .right, .right-foot, .left-foot {
    width: 20%;
}

.menu-list{
        float: left;
        width: 60%;
        display: initial;
    }
.content {
        width: 60%;
    }

.content-foot {
        width: 60%;
    }


.badboy
   {
    display: none;
   }

.box1 {
    display: initial;
}

.box2 {
    display: initial;
}

.box3 {
    display: initial;
}

.box4 {
    display: initial;
}
    
} 


/*------------media queries--------------------------------------------------------------------------------------------------------------------------------------------------------------*/


